<template>
  <section class="container-fluid mt-3">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="row border-bottom pb-2 mb-2">
          <div class="col">
            <h1 class="text-secondary mr-3" style="display: inline-block;">
              Salvar Usuario
            </h1>
            <b-link class="inline-block" to="/usuarios">Voltar</b-link>
          </div>
        </div>
        <b-form @submit="onSubmit" @reset="onReset">
          <b-form-group id="emailGroup" label="Email:" label-for="email">
            <b-form-input
              id="email"
              v-model="form.email"
              type="email"
              required
              placeholder="Email"
            />
          </b-form-group>

          <b-form-group
            id="passwordGroup"
            label="Password:"
            label-for="password"
          >
            <b-form-input
              id="password"
              v-model="form.password"
              type="password"
              placeholder="Password"
            />
          </b-form-group>

          <b-form-checkbox
            id="is-master"
            v-model="form.master"
            name="is-master"
            value="1"
            unchecked-value="0"
          >
            Master
          </b-form-checkbox>

          <b-button class="mt-3" type="submit" variant="primary">
            Enviar
          </b-button>
        </b-form>
      </div>
    </div>
  </section>
</template>

<script>
import { currentUser } from '~/plugins/firebase.js'

export default {
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  async asyncData({ params, $axios }) {
    let response = {}
    let master = false
    try {
      response = await $axios.$get('/getUser', { params: { uid: params.key } })
      master = await $axios.$get('/isMaster', { params: { uid: params.key } })
    } catch (erro) {}

    return {
      key: params.key,
      form: {
        email: response.email,
        password: '',
        master: master ? '1' : '0'
      }
    }
  },
  async mounted() {
    const token = await currentUser().getIdToken()
    this.$axios.setToken(token, 'Bearer')
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault()
      try {
        await this.$axios.$post('/updateUser', this.form, {
          params: { uid: this.key }
        })
        this.$router.push('/usuarios')
      } catch (erro) {
        this.$toast.error(erro)
      }
    },
    onReset(evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.password = ''

      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  },
  middleware: ['loged', 'authuser', 'usermaster']
}
</script>
