<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">
      <b-img width="50" fluid src="/icon.png"></b-img>
    </b-navbar-brand>

    <b-navbar-toggle target="nav_collapse" />

    <b-collapse id="nav_collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">PROSPECÇÂO</b-nav-item>
        <b-nav-item v-if="$store.state.master" to="/usuarios">
          USUARIOS
        </b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template slot="button-content">
            <em>Usuario</em>
          </template>
          <b-dropdown-item @click="logout">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { logout } from '~/plugins/firebase.js'

export default {
  methods: {
    async logout() {
      this.$nuxt.$loading.start()
      await logout()
      await this.$store.dispatch('logout')
      this.$cookies.removeAll()
      this.$router.push('/login')
      this.$nuxt.$loading.finish()
    }
  }
}
</script>
