<template>
  <section class="container-fluid mt-3">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="row border-bottom pb-2 mb-2">
          <div class="col">
            <h1 class="text-secondary mr-3" style="display: inline-block;">
              Prospecção
            </h1>
          </div>
          <div class="col text-right">
            <date-picker
              v-model="search.range"
              format="DD-MM-YYYY"
              lang="pt-br"
              range-separator=" / "
              range
              @input="filter()"
            ></date-picker>
            <b-button variant="info" @click="exportExcel()">Exportar</b-button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-muted">Exibindo {{ items.length }} resultados</p>
            <b-table striped hover :items="items" :fields="fields" responsive>
              <template slot="show_details" slot-scope="row">
                <b-link class="mr-2" size="sm" @click="row.toggleDetails">
                  {{ row.detailsShowing ? 'Ocultar' : 'Ver' }} Detalhes
                </b-link>
              </template>

              <template slot="row-details" slot-scope="row">
                <b-card>
                  <b-row>
                    <b-col>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Ação: </b></b-col>
                        <b-col>{{ row.item.acao }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Atividade: </b></b-col>
                        <b-col>{{ row.item.atividade }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>checkBox: </b></b-col>
                        <b-col>{{ row.item.checkBox }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Cidade: </b></b-col>
                        <b-col>{{ row.item.cidade }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Classe: </b></b-col>
                        <b-col>{{ row.item.classe }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Completado: </b></b-col>
                        <b-col>{{ row.item.complete }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Disco: </b></b-col>
                        <b-col>{{ row.item.disco }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Disjuntor: </b></b-col>
                        <b-col>{{ row.item.disjuntor }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Data: </b></b-col>
                        <b-col>{{ row.item.dt }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Email: </b></b-col>
                        <b-col>{{ row.item.email }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Estado: </b></b-col>
                        <b-col>{{ row.item.estado }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Fases: </b></b-col>
                        <b-col>{{ row.item.fases }}</b-col>
                      </b-row>
                    </b-col>
                    <b-col>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Hora: </b></b-col>
                        <b-col>{{ row.item.hora }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>ID: </b></b-col>
                        <b-col>{{ row.item.id }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>kdMedid: </b></b-col>
                        <b-col>{{ row.item.kdMedid }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Latitude: </b></b-col>
                        <b-col>{{ row.item.latitude }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Leitura: </b></b-col>
                        <b-col>{{ row.item.leitura }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Longitude: </b></b-col>
                        <b-col>{{ row.item.longitude }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>NC: </b></b-col>
                        <b-col>{{ row.item.nc }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>NF: </b></b-col>
                        <b-col>{{ row.item.nf }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Nome Foto: </b></b-col>
                        <b-col>{{ row.item.nomeFoto }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right">
                          <b>Nome Prospecção: </b>
                        </b-col>
                        <b-col>{{ row.item.nome_prospeccao }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Observação: </b></b-col>
                        <b-col>{{ row.item.observacao }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Unidade: </b></b-col>
                        <b-col>{{ row.item.unidade }}</b-col>
                      </b-row>
                      <b-row class="mb-2">
                        <b-col class="text-sm-right"><b>Voltas: </b></b-col>
                        <b-col>{{ row.item.voltas }}</b-col>
                      </b-row>
                    </b-col>
                  </b-row>
                </b-card>
              </template>
            </b-table>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <b-button block variant="outline-success" @click="more()">
              Mais resultados
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style>
td {
  max-width: 200px;
  overflow: hidden;
}
</style>

<script>
import {
  prospeccao,
  prospeccaoByDate,
  currentUser
} from '~/plugins/firebase.js'
import DatePicker from 'vue2-datepicker'
import XLSX from 'xlsx'

export default {
  components: { DatePicker },
  data() {
    return {
      itemPerPage: 10,
      search: {
        range: []
      },
      fields: {
        nc: {
          label: 'NC',
          sortable: true
        },
        unidade: {
          label: 'UNIDADE',
          sortable: true
        },
        cidade: {
          label: 'CIDADE',
          sortable: true
        },
        leitura: {
          label: 'LEITURA',
          sortable: true
        },
        kdMedid: {
          label: 'KDMEDIDA',
          sortable: true
        },
        dt: {
          label: 'DATA',
          sortable: true
        },
        acao: {
          label: 'AÇAO',
          sortable: true
        },
        email: {
          label: 'EMAIL',
          sortable: true
        },
        show_details: {
          label: 'DETALHES'
        }
      },
      items: []
    }
  },
  async asyncData(context) {
    let items = await prospeccao()
    items = Object.values(items)
    return {
      items,
      search: {
        range: []
      }
    }
  },
  async mounted() {
    const token = await currentUser().getIdToken()
    this.$axios.setToken(token, 'Bearer')
    const busca = this.searchData
    setInterval(async function() {
      await busca()
    }, 30000)
  },
  methods: {
    async filter() {
      this.$nuxt.$loading.start()
      this.items = []
      let data = []

      const dates = this.getDatesList()
      if (dates.length === 0) {
        data = await prospeccao(this.itemPerPage)
        data = Object.values(data)
      } else {
        data = await prospeccaoByDate(dates)
        data = Object.values(data)
      }

      if (data.length > 0) {
        this.items = data
      }

      this.$nuxt.$loading.finish()
    },
    getDatesList() {
      const response = []
      if (this.search.range.length <= 0) {
        return response
      }

      const init = this.search.range[0]
      const end = this.search.range[1]
      if (init > end) {
        return response
      }

      while (init <= end) { // eslint-disable-line
        const dia = init.getDate()
        const sdia = dia < 10 ? '0' + dia : dia
        let mes = init.getMonth()
        mes++
        mes = mes < 10 ? '0' + mes : mes
        const ano = init.getFullYear()
        init.setDate(dia + 1)
        response.push(`${sdia}/${mes}/${ano}`)
      }

      return response
    },
    exportExcel() {
      const prospeccao = XLSX.utils.json_to_sheet(this.items)
      const wb = XLSX.utils.book_new() // make Workbook of Excel
      XLSX.utils.book_append_sheet(wb, prospeccao, 'prospeccao')
      XLSX.writeFile(wb, 'book.xlsx')
    },
    async more() {
      this.$nuxt.$loading.start()
      this.itemPerPage += 10
      await this.searchData()
      this.$nuxt.$loading.finish()
    },
    async searchData() {
      let data = await prospeccao(this.itemPerPage)
      data = Object.values(data)
      data.reverse()
      this.items = data
    }
  },
  middleware: ['loged', 'authuser']
}
</script>
