<template>
  <section class="container">
    <div>
      <b-card class="text-center">
        <b-img width="150" class="mb-4" fluid src="/icon.png"></b-img>
        <b-form>
          <b-form-group label-for="username">
            <b-form-input
              id="username"
              v-model="email"
              type="email"
              placeholder="Email"
              required
              size="lg"
            ></b-form-input>
          </b-form-group>
          <b-form-group label-for="pw">
            <b-form-input
              id="pw"
              v-model="password"
              type="password"
              placeholder="Password"
              size="lg"
            ></b-form-input>
          </b-form-group>
          <b-button block variant="outline-success" size="lg" @click="login">
            Login
          </b-button>
        </b-form>
      </b-card>
    </div>
  </section>
</template>

<script>
import { login, currentUser } from '~/plugins/firebase.js'
import consola from 'consola'

export default {
  components: {},
  data() {
    return {
      email: '',
      password: ''
    }
  },
  watch: {},
  mounted() {},
  methods: {
    async login() {
      this.$nuxt.$loading.start()
      await login(this.email, this.password)
      const user = await currentUser()
      if (typeof user === 'object' && user !== null) {
        const admin = await this.$axios.$get('/isMaster', {
          params: { uid: user.uid }
        })
        consola.info(admin)
        this.$store.dispatch('login', { user })
        this.$store.dispatch('master', admin)
        this.$cookies.set('authuser', user)
        this.$cookies.set('master', admin)
      } else {
        this.$toast.error('Dados incorretos.')
      }
      this.$router.push('/')
      this.$nuxt.$loading.finish()
    }
  },
  middleware: ['loged']
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
