<template>
  <section class="container-fluid mt-3">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="row border-bottom pb-2 mb-2">
          <div class="col">
            <h1 class="text-secondary mr-3" style="display: inline-block;">
              Usuarios
            </h1>
            <b-link class="inline-block" to="/usuario/novo">Novo</b-link>
          </div>
          <div class="col">
            <b-input-group class="mt-3">
              <b-form-input v-model="filter" placeholder="Buscar" />
              <b-input-group-append>
                <b-button variant="info">
                  Buscar
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
        </div>
        <b-table striped hover :items="items" :fields="fields" :filter="filter">
          <template slot="opcoes" slot-scope="data">
            <b-link :to="`/usuario/${data.item.id}`">Atualizar</b-link>
            <b-link @click="apagar(data.index, data.item.id)">Apagar</b-link>
          </template>
        </b-table>
      </div>
    </div>
  </section>
</template>

<script>
import { currentUser } from '~/plugins/firebase.js'

export default {
  data() {
    return {
      filter: null,
      fields: {
        email: {
          sortable: true
        },
        opcoes: {
          label: 'Opções'
        }
      },
      items: []
    }
  },
  async asyncData({ $axios }) {
    let items = []
    try {
      items = await $axios.$get('/indexUser')
      items = items.users
        .filter(e => e.email !== undefined)
        .map(e => {
          return { id: e.uid, email: e.email, password: '' }
        })
    } catch (err) {}

    return { items }
  },
  async mounted() {
    const token = await currentUser().getIdToken()
    this.$axios.setToken(token, 'Bearer')
  },
  methods: {
    async apagar(index, key) {
      try {
        await this.$axios.$get('/deleteUser', { params: { uid: key } })

        this.items.splice(index, 1)
      } catch (err) {
        this.$toast.error(err)
      }
    }
  },
  middleware: ['loged', 'authuser', 'usermaster']
}
</script>
